<div class="container">
    <div class="card border-primary mb-3 my-5">
        <div class="card-header">Lista de Clientes</div>
        <div class="p-2">
            <button type="button" class="btn btn-primary" [routerLink]="['/formulario']" routerLinkActive="router-link-active" >Crear Cliente</button>
        </div>
        <div class="card-body text-primary">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Create At</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cliente of clientes">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.name }}</td>
                        <td>{{ cliente.lastName }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.createAt }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
